<nav class="navbar sticky-top navbar-toggleable-sm navbar-light bs-topnav">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a routerLink="/" class="navbar-brand">
    <img src="../assets/img/lernnavi-logo-primary.svg"
         style="background: rgba(255,255,255, 0.9); border-radius: 3px"
         height="40"
         alt="Home Button">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button md-button (click)="toggleMobileView()" class="nav-link" >
          {{(store.mobileView.mobileView | async) ? 'Switch back' : 'Switch to mobile-view'}}
        </button>
      </li>
    </ul>
  </div>
  
</nav>
