[submodule "hero"]
	path = hero
	url = https://github.com/tsmean/hero-angular
[submodule "resource"]
	path = resource
	url = https://github.com/tsmean/resource-angular
[submodule "main"]
	path = main
	url = https://github.com/tsmean/main-angular
[submodule "user"]
	path = user
	url = https://github.com/tsmean/user-angular
