[submodule "resource"]
	path = resource
	url = https://github.com/tsmean/resource-angular
[submodule "main"]
	path = main
	url = https://github.com/tsmean/main-angular
[submodule "user"]
	path = user
	url = https://github.com/tsmean/user-angular
[submodule "animal"]
	path = animal
	url = https://github.com/tsmean/animal-angular
