<div class="lernnavi-landing">
  
  <!-- Desktop / Tablet View -->
  <div class="lernnavi-landing-desktop hidden-xs-down">
    
    <app-ln-planet *ngFor="let planet of planets"
                   [link]="planet.link"
                   [icon]="iconSrc(planet.icon)"
                   [ngStyle]="planet.aboveXsStyle"
                   [text]="planet.text">
    </app-ln-planet>
    
    <img src="/assets/img/lernnavi-logo-alt.svg"
         height="60px"
         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
         alt="">
  
  </div>
  
  <!-- Mobile View -->
  <div class="lernnavi-landing-mobile hidden-sm-up">
    <app-tile *ngFor="let planet of planets"
                   [link]="planet.link"
                   [icon]="iconSrc(planet.icon)"
                   [text]="planet.text">
    </app-tile>
  </div>
  

</div>