<div class="display-hero">

  <!-- Display or Edit Hero -->
  <div *ngIf="!heroSettings.isBeingEdited">
    {{hero.name}}
  </div>
  <md-input-container *ngIf="heroSettings.isBeingEdited">
    <input mdInput [(ngModel)]="heroCopy.name"/>
  </md-input-container>
  <div class="hero-id">{{hero.uid}}</div>
  <div>
    <button color="accent" md-button *ngIf="heroSettings.isBeingEdited" (click)="updateHero()">Update Hero</button>
    <button md-button (click)="toggleEditable()">
      <span *ngIf="!heroSettings.isBeingEdited">Edit Hero</span>
      <span *ngIf="heroSettings.isBeingEdited" (click)="resetCopy()">Cancel Edit</span>
    </button>
  </div>
  <app-delete-hero [hero]="hero"></app-delete-hero>
</div>
