<div style="max-width: 500px; margin: 0 auto">
  <md-card>
    <md-input-container class="app-full-width">
      <input mdInput type="text" [(ngModel)]="user.email" placeholder="Email">
    </md-input-container>
    <md-input-container class="app-full-width">
      <input mdInput type="password" [(ngModel)]="user.password" placeholder="password">
    </md-input-container>
    <app-spacer height="20"></app-spacer>
    <div class="clearfix">
      <div class="float-right">
        <button color="primary" md-raised-button (click)="doLogin()">
          Login
        </button>
      </div>
    </div>
  </md-card>
</div>
