$primary-color: #207786;
$font-stack:    Helvetica, sans-serif;

$primary-light: #58a6b6;
$primary-dark: #004b59;

$accent: #AA00FF; // #D500F9; //#623287;
$accent-light: #925eb7;
$accent-dark: #340559;
