<div class="lernnavi-planet-wrapper"
     [style.animationDelay]="randomNegativeDelay"
     style="color: white; display: flex; align-items: center; flex-direction: column; justify-content: center">
  <div class="lernnavi-planet"
       [style.animationDelay]="randomNegativeDelay"
       [style.borderRadius]="circleRadius + 'px'"
       [style.height]="2 * circleRadius + 'px'"
       [style.width]="2 * circleRadius + 'px'"
       style="margin: 5px;">
  </div>
  <div style="font-size: 18px;">
    <div style="width: 150px; text-align: center">
      {{text || "That's great"}}
    </div>
  </div>
</div>