.notification-wrapper {
    position:fixed;
    bottom:0;
    right:0;
    padding: 20px;
    z-index: 10000;
}

.notification {

}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}